.listagem{
  max-width: 200px;
}
.listagem .Pokemon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom:10px;
  background-color:#6B727A;
  color: #ffffff;
  padding: 0 5px;
  cursor:pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.15s ease-in-out;
}
.listagem .Pokemon:hover{
  transform: scale(1.05);
}
.listagem .Pokemon img{
  width: 25%;
  border-radius:50%;
}
.listagem .Pokemon span{
  padding-right: 20px;
}
.listagem .Pokemon.ativo{
  background-color: #FA6668;
}
